.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 122px;

  padding: 14px 40px;

  background: var(--color-surface-primary);

  @include middle-desktop {
    padding: 16px 40px;
  }

  @include small-desktop {
    padding: 16px 24px;
  }

  @include tablet {
    height: 102px;

    padding: 12px 20px;
  }

  @include mobile {
    height: 94px;

    padding: 12px 15px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-height: 90px;

    @include small-desktop {
      gap: 10px;
      min-height: 78px;
    }

    @include mobile {
      min-height: 70px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;

    @include middle-desktop {
      gap: 20px;
    }

    @include small-desktop {
      gap: 62px;
    }

    @include mobile {
      gap: 12px;
    }
  }

  &__head-left {
    flex: 1 1 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 489px;

    @include middle-desktop {
      max-width: 439px;
    }

    @include small-desktop {
      max-width: 395px;
    }

    @media (min-width: 621px) {
      .header__logo {
        display: none;
      }
    }

    @include mobile {
      max-width: 100%;
      gap: 12px;

      .header__address {
        margin-right: auto;

        span {
          display: none;
        }
      }
    }
  }

  &__address {
  }

  &__head-right {
    flex: 1 1 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 894px;

    @include middle-desktop {
      max-width: 828px;
    }

    @include mobile {
      max-width: 100%;
      flex: 0 0 auto;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 24px;

    @include tablet {
      display: none;
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-primary);
  }

  &__feedback {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;

    cursor: auto;

    @include tablet {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 50px;
      z-index: 1;

      display: none;
    }

    &:hover {
      &::before {
        display: block;
      }

      .header__feedback-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__feedback-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-primary);

    cursor: pointer;
  }

  &__feedback-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;

    cursor: pointer;
  }

  &__feedback-menu {
    z-index: 10;
    position: absolute;
    top: calc(100% + 19px);
    right: -11px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 274px;
    padding: 24px 32px;

    background: var(--white);

    border-radius: 10px;
    box-shadow:
      0 24px 44px 0 rgba(17, 40, 50, 0.06),
      0 2px 12px 0 rgba(17, 40, 50, 0.04);

    opacity: 0;
    visibility: collapse;

    transition:
      opacity 0.15s ease,
      visibility 0.15s ease;

    @include tablet {
      position: static;
      opacity: 1;
      visibility: visible;

      gap: 16px;
      width: 100%;
      padding: 0;

      box-shadow: none;
      background: transparent;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -10px;
      right: 12px;
      width: 24px;
      height: 24px;
      background: var(--white);
      transform: rotate(45deg);

      @include tablet {
        display: none;
      }
    }
  }

  &__feedback-point {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include middle-desktop {
      gap: 2px;
    }
  }

  &__feedback-point-name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--color-text-tertiary);

    @include tablet {
      font-weight: 600;
      font-size: 12px;
      color: var(--color-text-disable);
    }
  }

  &__feedback-link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-primary);

    @include tablet {
      font-size: 14px;
    }
  }

  &__feedback-time {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    color: var(--color-text-secondary);
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 8px;

    @include tablet {
      padding-top: 4px;
      gap: 12px;
    }
  }

  &__social {
    width: 24px;
    height: 24px;

    transition: opacity 0.15s ease;

    @include tablet {
      width: 20px;
      height: 20px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__socials-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__prozamm {
    font-family: var(--font-family);
    font-weight: 600;
    // font-size: 16px;
    line-height: 150%;
    color: var(--yellow) !important;
    background: var(--black);

    border-radius: 10px;
    overflow: hidden;

    transition: filter 0.3s ease;

    @include mobile {
      border-radius: 6px;
    }

    &:hover {
      color: var(--black) !important;
      background: var(--white);
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 58px;

    @include small-desktop {
      gap: 32px;
    }

    @include tablet {
      gap: 76px;
    }
  }

  &__body-left {
    @include mobile {
      display: none;
    }
  }

  &__body-center {
    display: flex;
    align-items: center;
    gap: 24px;

    flex: 0 1 1042px;

    @include middle-desktop {
      flex: 0 1 662px;
    }

    @include small-desktop {
      gap: 16px;
    }

    @include tablet {
      flex: 1 1 auto;
      gap: 12px;
    }
  }

  &__logo {
    display: block;
    width: 150px;
    height: 28px;

    @include tablet {
      width: 108px;
      height: 20px;
    }

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 67px;
      height: 12px;
    }
  }

  &__logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__actions {
    flex: 0 0 auto;
    color: var(--color-text-primary);

    @include tablet {
      display: none;
    }

    &:hover {
      span {
        color: inherit;
      }
    }
  }

  &__actions-icon {
  }

  &__actions-text {
  }

  &__catalog {
    flex: 0 0 auto;
    border-radius: 8px;
    padding: 10px 12px;

    @include middle-desktop {
      justify-content: center;

      width: 130px;
      height: 44px;
    }

    @include tablet {
      width: 98px;
      height: 40px;

      padding: 10px 8px;
    }

    &.active {
      .header__catalog-icon {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: block;
        }
      }
    }
  }

  &__catalog-icon {
    &:first-of-type {
      display: block;
    }
    &:last-of-type {
      display: none;
    }
  }

  &__catalog-text {
    padding-inline: 2px;
  }

  &__search {
    flex: 1 1 auto;

    position: relative;
    z-index: 21;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 10px 16px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid var(--color-border-secondary);
    background: var(--white);

    @include tablet {
      height: 40px;
      padding: 10px 12px;
    }
  }

  &__body-right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 24px;

    @include small-desktop {
      gap: 16px;
    }

    @include tablet {
      display: none;
    }
  }

  &__profile {
  }

  &__favor {
  }

  &__basket {
    position: relative;
  }

  &__basket-count {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    position: absolute;
    left: 9px;
    bottom: 12px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 0;
    text-align: center;
    color: var(--color-text-primary);

    border-radius: 100%;
    border: 1px solid var(--white);

    background: var(--color-surface-accent);
  }
}

.header-catalog {
  position: fixed;
  top: 122px;
  bottom: 0;
  left: 0;
  z-index: 9;

  width: 100%;

  background: var(--white);

  visibility: collapse;
  opacity: 0;

  pointer-events: none;

  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;

  @include tablet {
    top: 102px;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  &__scroll {
    overflow-y: auto;
    height: 100%;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 274px 1fr 2fr;
    gap: 102px;

    width: 100%;

    padding: 24px 40px;

    @include small-desktop {
      padding: 24px;
      gap: 50px;
    }

    @include tablet {
      grid-template-columns: 230px 1fr;
      gap: 16px;
      padding: 24px 20px 25px 20px;
    }
  }

  &__banner {
    border-radius: 16px;
    width: 100%;
    height: auto;

    min-width: 0;

    box-shadow:
      0 24px 44px 0 rgba(17, 40, 50, 0.06),
      0 2px 12px 0 rgba(17, 40, 50, 0.04);

    @include tablet {
      grid-column: 1 / span 2;
    }

    &_desktop {
      // display: block;
      @media (max-width: 1220px) {
        display: none;
      }
    }

    &_tablet {
      @media (min-width: 1221px) {
        display: none;
      }
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    min-width: 0;

    @include tablet {
      gap: 12px;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    gap: 12px;

    width: 100%;
    height: 54px;

    border-radius: 8px;
    padding: 8px 24px 8px 16px;

    transition: background 0.15s ease;

    @include tablet {
      gap: 8px;

      height: 44px;
      padding: 6px 16px 6px 12px;
    }

    &:hover {
      background: var(--color-surface-accent-secondary);
    }

    &.active {
      background: var(--color-surface-accent-secondary-hover);
    }
  }

  &__category-separator {
    width: 100%;
    height: 1px;

    background: var(--color-border-disable);
  }

  &__category-icon {
    flex: 0 0 auto;

    width: 38px;
    height: 38px;
    object-fit: contain;
    object-position: center;

    @include tablet {
      width: 32px;
      height: 32px;
    }
  }

  &__category-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 138%;
    color: var(--color-text-primary);

    @include tablet {
      font-size: 14px;
    }
  }

  &__links-wrapper {
    width: 100%;
    height: 100%;

    @include tablet {
      padding-left: 60px;
    }
  }

  &__links {
    display: none;
    flex-direction: column;
    gap: 48px;

    width: 100%;
    min-width: 0;

    overflow-y: auto;

    padding-top: 12px;

    @include tablet {
      padding-top: 10px;
      gap: 38px;
    }

    &.active {
      display: flex;
      animation: fadeIn 0.3s ease forwards;
    }
  }

  &__links-head {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    color: var(--color-text-primary);

    text-decoration: underline;
    text-underline-offset: 4px;

    max-width: fit-content;
  }

  &__links-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-text-primary);

    max-width: fit-content;

    @include tablet {
      font-size: 12px;
    }
  }

  &__link-more {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-text-accent);

    max-width: fit-content;

    @include tablet {
      font-size: 12px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: collapse;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: collapse;
  }
}
