.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.3s;

  &.active {
    visibility: visible;
    pointer-events: auto;
    transition: visibility 0s;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-surface-overlay);

    opacity: 0;
    transition: opacity 0.3s ease;

    .modal.active & {
      opacity: 1;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    overflow: auto;

    padding: 50px;

    scrollbar-width: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 532px;

    border-radius: 16px;
    padding: 36px 32px 32px;

    box-shadow:
      0 24px 44px 0 rgba(17, 40, 50, 0.06),
      0 2px 12px 0 rgba(17, 40, 50, 0.04);

    background: var(--color-surface-primary);

    opacity: 0;
    transform: scale(0.7);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    @include ultrasmall-desktop {
      // width: 100%;
      padding: 24px;

      gap: 12px;
    }

    &_thanks {
      @include ultrasmall-desktop {
        width: 434px;
      }
    }

    .modal.active & {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 24px;
    height: 24px;

    transition: all 0.3s ease;

    @include ultrasmall-desktop {
      top: 8px;
      right: 8px;
      width: 20px;
      height: 20px;
    }

    // &:focus {
    //   outline: 1px solid var(--color-border-secondary);
    // }

    &:hover {
      opacity: 0.8;
    }
  }

  &__close-icon {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 121%;
    color: var(--color-text-primary);

    @include ultrasmall-desktop {
      font-size: 20px;
    }

    &_center {
      text-align: center;
    }
  }

  &__client-type {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__submit {
    width: 100%;
    height: 44px;

    padding: 10px 12px;

    border-radius: 8px;
  }

  &__agrees {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include ultrasmall-desktop {
      gap: 12px;
    }
  }

  &__checkbox {
  }

  &__email {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-disable);

    @include ultrasmall-desktop {
      font-size: 14px;
    }

    a {
      color: inherit;
    }
  }

  &__thanks-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--color-text-secondary);

    @include ultrasmall-desktop {
      font-size: 14px;
    }
  }
}
