.search-modal {
  position: fixed;
  z-index: 11;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding-top: 61px;
  padding-left: 399px;
  padding-right: 100px;
  padding-bottom: 50px;

  display: none;

  overflow-y: auto;

  &.active {
    display: block;
  }

  @include middle-desktop {
    padding-top: 62px;
    padding-left: 341px;
    padding-right: 80px;
  }

  @include small-desktop {
    padding-top: 62px;
    padding-left: 291px;
  }
}

.search-inner {
  position: relative;
  z-index: 20;

  flex: 1 1 auto;

  max-width: 995px;

  @include middle-desktop {
    max-width: 615px;
  }
}

.search-overlay {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-surface-overlay);

  z-index: 19;

  &.active {
    display: block;
  }
}

.search {
  position: relative;
  z-index: 21;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 16px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid var(--color-border-secondary);
  background: var(--white);

  &__input {
    flex: 1 1 auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-primary);
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__clear {
    width: 24px;
    height: 24px;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.15s ease;
  }

  &__clear-icon {
    width: 100%;
    height: 100%;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &.active {
    border-color: var(--color-border-accent);

    .search__icon {
      path {
        fill: var(--color-border-accent);
      }
    }
  }

  &.active-input {
    .search__clear {
      opacity: 1;
      visibility: visible;
    }
  }
}

.search-menu {
  display: none;

  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  padding: 70px 8px 8px 8px;
  border-radius: 14px;

  flex-direction: column;
  gap: 10px;

  box-shadow:
    0 24px 44px 0 rgba(17, 40, 50, 0.06),
    0 2px 12px 0 rgba(17, 40, 50, 0.04);
  background: var(--color-surface-primary);

  z-index: 20;

  &.active {
    display: flex;
  }

  &__point {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__point-head {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 138%;
    color: var(--color-text-disable);

    padding-inline: 16px;
  }

  &__point-list {
    display: flex;
    flex-direction: column;
  }

  &__point-item {
    display: flex;
    align-items: center;

    height: 40px;
    padding-inline: 16px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-primary);

    max-width: fit-content;
  }

  &__result {
    display: flex;
    flex-direction: column;

    margin-top: -10px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-inline: 8px 16px;

    &:hover {
      .search-menu__link-text {
        color: var(--color-text-accent-hover);

        span {
          color: var(--color-text-accent-hover);
        }
      }

      .search-menu__link-price {
        color: var(--color-text-accent-hover);
      }
    }
  }

  &__link-img {
    flex: 0 0 auto;

    width: 76px;
    height: 76px;

    padding: 9px;

    object-fit: contain;
    object-position: center;
  }

  &__link-text {
    flex: 1 1 auto;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-tertiary);
    transition: 0.15s ease;

    span {
      color: var(--color-text-primary);
      transition: 0.15s ease;
    }
  }

  &__link-price {
    flex: 0 0 auto;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-primary);

    white-space: nowrap;

    padding-left: 16px;
    transition: 0.15s ease;
  }
}
