.btn_animated-pro {
  width: 230px;
  height: 29px;
  font-size: 0.8125rem;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  @include middle-desktop {
    height: 28px;
    font-size: 0.75rem;
  }

  @include tablet {
    width: 211px;
    font-size: 0.6875rem;
  }

  @include mobile {
    width: 182px;
    height: 20px;
    font-size: 0.625rem;
  }
}

.btn_animated-pro:hover::before {
  background: var(--white);
}

.btn_animated-pro svg {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.btn_animated-pro:hover .btn-frame-1 svg {
  fill: var(--yellow);
}
.btn_animated-pro:hover .btn-frame-2 {
  background: var(--white);
}
.btn_animated-pro:hover .btn-frame-2 span {
  color: var(--yellow);
}
.btn_animated-pro:hover .btn-frame-3 svg .pro1 {
  fill: var(--yellow);
}
.btn_animated-pro:hover .btn-frame-3 svg .pro2 {
  fill: var(--black-brown);
}

.btn-frame-1,
.btn-frame-2,
.btn-frame-3 {
  position: absolute;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  z-index: 1;
}

.btn-frame-1 {
  -webkit-animation-name: frame-1;
  animation-name: frame-1;
  z-index: 2;
  background: 0 0 !important;
}

.btn-frame-1 svg {
  fill: var(--white);
  width: 21px;
  height: 21px;

  @include mobile {
    width: 15px;
    height: 15px;
  }
}

@keyframes frame-1 {
  0% {
    left: -1000%;
  }
  40% {
    left: 15px;
  }
  45%,
  50% {
    left: 10px;
  }
  100% {
    left: 300%;
  }
}

.btn-frame-2 {
  z-index: 1;
  -webkit-animation-name: frame-2;
  animation-name: frame-2;
  left: 0;
  margin: 0 7px;
  width: calc(100% - 14px);
  text-align: center;
  //   opacity: 0;
  opacity: 1;

  background: var(--black);
}

.btn-frame-2 span {
  display: inline;
  color: var(--white);
}

@keyframes frame-2 {
  0%,
  40% {
    left: 0;
    opacity: 1;
  }
  45%,
  50% {
    left: 5px;
    opacity: 1;
  }
  100% {
    left: 300%;
  }
}

.btn-frame-3 {
  -webkit-animation-name: frame-3;
  animation-name: frame-3;
  left: 0;
  width: 100%;
  z-index: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 7px;
}

.btn-frame-3 svg {
  width: 99px;
  height: 15px;

  @include mobile {
    width: 80px;
    height: auto;
  }
}

.btn-frame-3 svg .pro1 {
  fill: var(--white);
}

.btn-frame-3 svg .pro2 {
  fill: var(--yellow);
}

@keyframes frame-3 {
  0%,
  48% {
    opacity: 0;
  }
  55%,
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.link-yellow {
  transition: all 0.15s ease;

  &:hover {
    color: var(--color-text-accent-hover);
  }

  &:active {
    color: var(--color-text-accent-pressed);
  }
}

.link-and-icons {
  display: flex;
  align-items: center;
  gap: 4px;

  img,
  svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;

    @include tablet {
      width: 20px;
      height: 20px;
    }
  }

  span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-primary);

    white-space: nowrap;

    @include tablet {
      font-size: 14px;
    }
  }
}

.link-and-icons-hover-yellow {
  transition: all 0.15s ease;

  * {
    transition: inherit;
  }

  &:hover {
    span {
      color: var(--color-text-accent-hover);
    }

    svg {
      path {
        fill: var(--color-text-accent-hover);
      }
    }
  }

  &:focus:not(:active) {
    outline: 1px solid var(--color-border-secondary);

    outline-offset: -1px;
  }

  &:active {
    span {
      color: var(--color-text-accent-pressed);
    }

    svg {
      path {
        fill: var(--color-text-accent-pressed);
      }
    }
  }
}

.yellow-btn {
  background: var(--color-surface-accent);
  transition: all 0.15s ease;

  &:hover {
    background: var(--color-surface-accent-hover);
  }

  &:focus:not(:active) {
    outline: 2px solid var(--color-border-secondary);

    outline-offset: -2px;
  }

  &:active {
    background: var(--color-surface-accent-pressed);
  }

  &:disabled {
    background: var(--color-surface-accent-disabled);

    * {
      opacity: 0.3;
    }
  }
}

.ui-radio {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;

    .ui-radio__label {
      color: var(--color-text-disabled);
    }

    .ui-radio__mask {
      border-color: var(--color-border-disabled);
    }
  }

  &:hover {
    .ui-radio__label {
      color: var(--color-text-accent-hover);
    }

    .ui-radio__mask {
      border-color: var(--color-border-accent-hover);
    }
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }

  &__mask {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;

    border-radius: 100%;
    border: 1px solid var(--color-border-primary);

    transition: all 0.15s ease;

    @include tablet {
      width: 18px;
      height: 18px;
    }

    // &:focus {
    //   outline: 2px solid var(--color-border-secondary);
    // }
  }

  &__input:checked + &__mask {
    border: 5px solid var(--color-border-accent);

    &:hover {
      border-color: var(--color-border-accent-hover);
    }
  }

  &__input:checked {
  }

  &__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-text-primary);

    transition: all 0.15s ease;

    @include tablet {
      font-size: 12px;
    }
  }
}

.ui-input {
  position: relative;

  height: auto;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    .ui-input__field {
      border-color: var(--color-border-accent-hover);
    }
  }

  &.success,
  &.show-text {
    .ui-input__placeholder {
      top: 3px;
      transform: translateY(0);

      font-size: 12px;
    }
  }

  &.focus {
    .ui-input__placeholder {
      top: 3px;
      transform: translateY(0);

      font-size: 12px;
    }
  }

  &.error {
    .ui-input__field {
      border-color: var(--color-text-attention);
    }

    .ui-input__placeholder {
      color: var(--color-text-attention);
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-text-tertiary);

    cursor: text;

    transition: all 0.15s ease;

    @include tablet {
      font-size: 12px;
      left: 8px;
    }
  }

  &__field {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-text-primary);

    width: 100%;

    height: 44px;

    padding: 20px 12px 6px;

    border-radius: 8px;
    border: 1px solid var(--color-border-secondary);
    outline: none;

    @include tablet {
      font-size: 12px;

      height: 40px;
      padding: 20px 8px 4px;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: var(--color-border-accent-hover);
    }

    transition: all 0.15s ease;
  }
}

.ui-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  &.error {
    .ui-checkbox__mask {
      border-color: var(--color-text-attention);
    }

    .ui-checkbox__label {
      color: var(--color-text-attention);
    }
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;

    .ui-checkbox__label {
      color: var(--color-text-disabled);
    }

    .ui-checkbox__mask {
      border-color: var(--color-border-disabled);
    }
  }

  &:hover {
    .ui-checkbox__mask {
      border-color: var(--color-border-accent-hover);
    }

    .ui-checkbox__input:checked + .ui-checkbox__mask {
      border-color: var(--color-border-accent-hover);
      background: var(--color-border-accent-hover);
    }
  }

  &__input {
    display: none;
  }

  &__mask {
    position: relative;

    flex: 0 0 auto;

    width: 20px;
    height: 20px;

    border-radius: 4px;
    border: 1px solid var(--color-border-primary);

    margin-bottom: auto;

    transition: all 0.15s ease;

    @include tablet {
      width: 18px;
      height: 18px;
    }
  }

  &__mask-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 11px;
    height: 9px;

    object-fit: contain;
    object-position: center;

    opacity: 0;
    visibility: collapse;

    transition: all 0.15s ease;
  }

  &__input:checked + &__mask {
    background: var(--color-border-accent);
    border-color: var(--color-border-accent);

    .ui-checkbox__mask-icon {
      opacity: 1;
      visibility: visible;
    }
  }

  &__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-text-primary);

    user-select: none;

    @include tablet {
      font-size: 12px;
    }

    a {
      color: inherit;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      transition: all 0.15s ease;

      &:hover {
        color: var(--color-text-accent-hover);
      }

      &:active {
        color: var(--color-text-accent-pressed);
      }
    }
  }
}
