// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Manrope", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  //
  --black: #333;
  --yellow: #ffc845;
  --black-brown: #212121;
  --white: #fff;
  --color-text-accent: var(--color-brand-500main);
  --color-text-accent-hover: var(--color-brand-600);
  --color-text-accent-pressed: var(--color-brand-700);
  --color-text-disable: var(--color-neutral-200);
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-brand-grey-600);
  --color-text-tertiary: var(--color-brand-grey-400);
  --color-text-primery-inverted: var(--color-neutral-0);
  --color-text-attention: var(--color-alerts-red-500);
  --color-border-accent: var(--color-brand-500main);
  --color-border-accent-hover: var(--color-brand-600);
  --color-border-disable: var(--color-neutral-200);
  --color-border-primary: var(--color-neutral-900);
  --color-border-secondary: var(--color-brand-grey-400);
  --color-border-primary-invented: var(--color-neutral-0);
  --color-border-attention: var(--color-alerts-red-500);
  --color-surface-accent: var(--color-brand-500main);
  --color-surface-accent-hover: var(--color-brand-600);
  --color-surface-accent-pressed: var(--color-brand-700);
  --color-icon-disable: var(--color-neutral-200);
  --color-surface-accent-secondary: var(--color-brand-50);
  --color-surface-secondary: var(--color-neutral-50);
  --color-icon-tertiary: var(--color-brand-grey-300);
  --color-icon-primary: var(--color-neutral-900);
  --color-surface-primary: var(--color-neutral-0);
  --color-surface-attention: var(--color-alerts-red-500);
  --color-surface-overlay: var(--color-brand-grey-900-ops);
  --color-background-primary: var(--color-neutral-0);
  --color-neutral-0: #fff;
  --color-neutral-50: #f7f7f7;
  --color-neutral-100: #ebebeb;
  --color-neutral-200: #d6d6d6;
  --color-neutral-300: #c2c2c2;
  --color-neutral-400: #adadad;
  --color-neutral-500: #999;
  --color-neutral-600: #7b7b7b;
  --color-neutral-700: #5e5e5e;
  --color-neutral-800: #4e4e4e;
  --color-neutral-900: #333;
  --color-neutral-950: #0f0f0f;
  --color-brand-50: #fff9ec;
  --color-brand-100: #fff4da;
  --color-brand-200: #ffe9b5;
  --color-brand-300: #ffde8f;
  --color-brand-400: #ffd36a;
  --color-brand-500main: #ffc845;
  --color-brand-600: #e9af23;
  --color-brand-700: #d59b0f;
  --color-brand-800: #ac7b08;
  --color-brand-900: #7f5c07;
  --color-brand-950: #251b02;
  --color-brand-grey-50: #f7f6f4;
  --color-brand-grey-100: #eae9e5;
  --color-brand-grey-200: #d8d4d4;
  --color-brand-grey-300: #bcbab4;
  --color-brand-grey-400: #9b978f;
  --color-brand-grey-500: #7e786a;
  --color-brand-grey-600: #6b6556;
  --color-brand-grey-700: #595447;
  --color-brand-grey-800: #4d493e;
  --color-brand-grey-900: #433f36;
  --color-brand-grey-950: #2b2821;
  --color-alerts-red-500: #ff0c0c;
  --color-alerts-green: #70bb4d;
  --color-alerts-yellow: #ffca00;
  --color-alerts-orange: #f26c0a;
  --color-brand-grey-900-ops: rgba(67, 63, 54, 0.2);
  --color-text-positive: var(--color-alerts-green);
  --color-text-importent: var(--color-alerts-orange);
  --color-surface-positive: var(--color-alerts-green);
  --color-surface-accent-secondary-hover: var(--color-brand-100);
  --color-surface-accent-secondary-pressed: var(--color-brand-200);
  --color-alerts-red-600: #dd1212;
  --color-alerts-red-700: #c11;
  --color-surface-attention-hover: var(--color-alerts-red-600);
  --color-surface-attention-pressed: var(--color-alerts-red-700);
  --color-text-attention-hover: var(--color-alerts-red-600);
  --color-text-attention-pressed: var(--color-alerts-red-700);
  --color-surface-importent: var(--color-alerts-orange);
  --color-surface-rate: var(--color-alerts-yellow);
  --color-icon-secondary: var(--color-brand-grey-400);
  --color-surface-disable: var(--color-neutral-100);
  --color-icon-accent-pressed: var(--color-brand-700);
  --color-icon-accent-hover: var(--color-brand-600);
  --color-icon-accent: var(--color-brand-500main);
}
